---
layout: gallery.njk
title: projects
eleventyNavigation:
  key: photos
  order: 3
start: 1
end: 70
---



<div class="gallery-container">
{# <div class="project-content"> #}



<div class="image-gallery">
{% for i in range(start, end+1) -%}
<div class="image-elem">
<img loading="lazy" src="https://d1u76lqhum7ndt.cloudfront.net/test-pics/oki-thumb - {{ i }}.jpeg"/>
<div class="overlay">
<a href="https://d25c97age8z8eq.cloudfront.net/test-pics/oki - {{ i }}.jpeg" class="wayfinding">Download</a>
</div>
</div>
{%- endfor %}
</div>


d25c97age8z8eq


{# </div> #}
</div>