---
layout: layout.njk
title: first page
eleventyNavigation:
  key: home
  order: -1
---

<div class="content">

<div id="home-welcome">
Hi I'm Terran!
</div>
</div>

<div id="copyright-footer">
© Terran Kroft 2023
</div>