---
layout: layout.njk
title: first page
eleventyNavigation:
  key: home
  order: -1
---

<div class="content">

<div id="home-welcome">
<p>Hi, I'm <span class="wayfinding">Terran</span>. I'm a software engineering masters student at the <a href="https://www.unimelb.edu.au" class="wayfinding">University of Melbourne →</a> in Melbourne. I also intern at <a href="https://www.drawboard.com" class="wayfinding">Drawboard →</a> as a developer on the Windows team.</p> 
{# <p>Right now, I'm working on a series of delightful iOS apps that will help me (and hopefully you) prioritise and go <span class="wayfinding">above&nbsp;&&nbsp;beyond</span> in different aspects of life. More on that once it's done, though.</p> #}
<p>My interests include, but aren't limited to design, wayfinding, SwiftUI, travel, & tea. There's a lot more I'm interested in, and I'm always looking for opportunities to expand this list.</p>
<p>If any of this interests you, please get in touch. 
<p><a class="wayfinding" href="https://www.linkedin.com/in/terrankroft/">LinkedIn →</a> <a class="wayfinding" href="https://github.com/itemic">GitHub →</a> <a class="wayfinding" href="https://www.twitter.com/itemic">Twitter →</a></p>

</div>
</div>

