---
layout: layout.njk
title: projects
eleventyNavigation:
  key: me
  order: 3
start: 1076
end: 1098
---



TESTING. IGNORE.
<div class="container">
{# <div class="project-content"> #}

{% for i in range(start, end) -%}
<div class="project-box">
<img src="http://d25c97age8z8eq.cloudfront.net/test-pics/DSCF{{ i }}.jpeg"/>
</div>
{%- endfor %}

{# </div> #}
</div>