html {
	background: linear-gradient(0deg, rgba(236,239,244,0.3), rgba(222, 229, 240, 0.5));
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Inter', sans-serif;
	display: flex;
	flex-direction: column
}


a {
	text-decoration: none;
}
/* nav menu */
nav {
	display: flex;
	justify-content: left;
	align-content: left;
	padding: 1rem;
	overflow-x: auto
	/* width: 100%; */
	
}
nav > a {
	font-size: 20px;
	font-weight: 300;
	display: block;
	padding: 0.4rem 1rem;
	color: #416bae;
	background: #d4dff1;
	margin-inline-end: 0.4rem;
	border-radius: 0.2rem ;	
}
.content {
	padding: 2rem 4rem;
	color: #416bae;
	margin-top: 0.4rem;
}
.project-wrapper {
	padding: 2rem 4rem;
}
.project-content, .project-wrapper {
	color: #15253e;
	margin-top: 0.4rem;
}


.project-content a {
	color: #2a66c8;
	background: #dde6f5;
}
.p-link {
	font-size: 20px;
	font-weight: 500;
	display: block;
	padding: 0.4rem 1rem;
	color: #2a66c8;
	background: #dde6f5;
	margin-inline-end: 0.4rem;
	border-radius: 0.2rem ;	
}
.project-content h2 {
	font-size: 2rem;
	font-weight: 300;
	line-height: 2rem;
	/* margin: 0rem; */
}
.project-content h3 {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.5rem;
	/* margin: 0rem; */
}
.project-content p {
	font-size: 1.25rem;
	font-weight: 300;
	line-height: 1.8rem
}

.project-title {
	font-size: 3rem;
}


.banner > h3 {
	font-size: 2rem;
	font-weight: 200;
	line-height: 2rem;
	margin-bottom: 1rem;
}

.banner {
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 2.4rem;
	margin-bottom: 1rem;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(max(300px,25vw), 1fr));
	grid-gap: 1rem;
	grid-auto-flow: dense;
	align-items: center;
	justify-content: center;
}

.project-box img {
	width: auto;
	align-items: center;
	height: 250px;
	margin: auto;
	display: flex;
	padding-top: 1rem;
}

.project-content img {
	max-width: 100%;
	width: max(50vh, 960px);
	/* margin: auto; */
	display: flex;
}

.project-box {
	background: #f2f7ff;
	display: inline-block;
	align-items: center;
	justify-content: center;
	padding: 0rem;
	margin: 0rem;
	/* margin-inline-end: 2rem; */
}

.project-name {
	/* min-height: 3rem; */
	/* display: flex; */
	color: #416bae;
	background: #d4dff1;
	align-items: center;
	padding: 0.5rem 1rem;
}

.project-box-title {
	display: flex;
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: -1px;
	/* background: green */
}

.project-box-subtitle {
	display: inline-block;
	/* background: red; */
	font-size: 1rem;
	font-weight: 300;
}

/* BLOG */
.blog-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(max(300px,25vw), 1fr));
	grid-gap: 1rem;
	grid-auto-flow: dense;
	align-items: center;
	justify-content: center;
}

.blog-box {
	background: #f2f7ff;
	display: inline-block;
	align-items: center;
	justify-content: center;
	padding: 0rem;
	margin: 0rem;
	/* margin-inline-end: 2rem; */
}

.blog-name {
	/* min-height: 3rem; */
	/* display: flex; */
	color: #416bae;
	background: #d4dff1;
	align-items: center;
	padding: 0.5rem 1rem;
}

.blog-box-title {
	display: flex;
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: -1px;
	/* background: green */
}

.blog-box-subtitle {
	display: inline-block;
	/* background: red; */
	font-size: 1rem;
	font-weight: 300;
}

/* Home */
#home-welcome {
	font-size: 2rem;
	display: block;
	border-radius: 0.2rem ;	
	line-height: 3.2rem;
	font-weight: 200;
	/* padding: 2rem 4rem; */
}

.wayfinding, .wayfinding > a:visited {
	text-decoration: none;
	display: inline;
	padding: 0.2rem 0.4rem;
	color: #416bae;
	background: #d4dff1;
	/* margin-inline-end: 0.4rem; */
	border-radius: 0.2rem ;	
	font-weight: 500;
}

.project-links {
	display: flex;
	justify-content: left;
	align-content: left;
	padding-top: 1rem;
	overflow-x: auto
	
}

.worldmap {
	fill: #d4dff1;
	stroke-width: 0.5;
	stroke: #416bae;
}

/* Not sure why some are classes and others are by IDs so */
/* Missing: HK, SG */
.Zambia, .South-Africa, .Morocco, .Kenya, .Egypt, .United-States, .Canada, .Uzbekistan, .United-Arab-Emirates, .Turkey, .Thailand, .Taiwan, .South-Korea, .Singapore, .Qatar, .Philippines, .Oman, .Nepal, .Myanmar, .Mongolia, .Malaysia, .Laos, .Kyrgyzstan, .Kazakhstan, .Jordan, .Japan, .Indonesia, .India, .China, .Bahrain, .New-Zealand, .Australia, .United-Kingdom, .Spain, .Netherlands, .Moldova, .Macedonia, .France, .Czech-Republic, .Croatia, .Bulgaria, .Belgium, .Azerbaijan, .Austria {
	fill: #416bae;
}
