---
layout: layout.njk
title: projects
eleventyNavigation:
  key: projects
  order: 1
---
<div class="content">

<div class="banner">
<h3><span class="wayfinding">Projects</span> that I worked on.</h3>
</div>

<div class="container">
{# Container #}
{% for post in collections.projects %}

<div class="project-box">
<a href={{ post.url }}>
{%- if post.data.img_src %}
<img src="/img/{{ post.data.img_src }}"/>
{%- else %}
<img />
{% endif %}
<div class="project-name">
<div class="project-title">{{ post.data.title }} →</div>
<div class="project-subtitle">{{ post.data.blurb }}</div>
</div>
</a>
</div>



{% endfor %}


</div>

</div>
<ul>

</ul>
